<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.dexx" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="true" android:debuggable="true" android:icon="@mipmap/a" android:label="@string/a7" android:name="com.example.dexx.MyApplication" android:roundIcon="@mipmap/b" android:supportsRtl="true" android:theme="@style/d2">
        <activity android:name="com.example.dexx.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.dexx.MyTestActivity"/>
    </application>
</manifest>
